$fontPath: "./assets/fonts/";

@font-face {
    font-family: 'capitalist';
    src: url('#{$fontPath}Capitalist_Sans_Regular_03.ttf') format('truetype');
}

@font-face {
    font-family: 'cardo';
    src: url('#{$fontPath}Cardo-Regular.ttf') format('truetype');
}
