@font-face {
    font-family: 'capitalist';
    src: url('./assets/fonts/Capitalist_Sans_Regular_03.ttf') format('truetype');
}

@font-face {
    font-family: 'cardo';
    src: url('./assets/fonts/Cardo-Regular.ttf') format('truetype');
}
