<p>
  As part of the ongoing planning of the Museum of Capitalism, we work with individuals and communities to identify and catalog artifacts that may become elements of our exhibitions and related programming. We rely on the generosity of individuals and communities to help us build an archive which reflects and interprets the experience of capitalism.
</p>
<p>
Artifacts may be printed materials, three-dimensional objects, or entire collections, and may consist of documents, correspondence, diaries, clothing, uniforms, and textiles, photographs and moving images, advertisements, trade publications and promotional materials, currencies, receipts, and other elements of consumer exchange, and samples of raw materials, finished products, or fragments of capitalist production. You can also submit things that aren’t single objects, like specific places or events, or even more abstract things like feelings.
</p>
<div class="container">
  <a class="links" href="/submit">Submit An Artifact</a>
  <ul *ngIf="!artifacts">
    <h2>Here are some artifacts!</h2>
    <li *ngFor="let artifact of artifacts">{{artifact.name}}</li>
  </ul>
</div>
