{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Museum Of Capitalism</title>
  <base href="/">
  <link rel="stylesheet" href="../../client/src/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <capitalism>Loading...</capitalism>

  <script src="{% static 'dist/inline.bundle.js' %}"></script>
  <script src="{% static 'dist/polyfills.bundle.js' %}"></script>
  <script src="{% static 'dist/vendor.bundle.js' %}"></script>
  <script src="{% static 'dist/main.bundle.js' %}"></script>
  <style src="{% static 'dist/styles.bundle.css' %}"></style>
</body>
</html>
