/* You can add global styles to this file, and also import other style files */

.wrapper {
  background-color: lightgrey;
  position: absolute;
  height:100%;
  width: 100%;
  top:0;
  left:0;
}

.main-container {
  position: absolute;
  height:100%;
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
