.title-text{
  font-family: 'capitalist';
}

.links-container{

}

.title-text:hover{
  cursor: pointer;
}

p {
  text-align: center;
  font-family: 'cardo';
  line-height: 1.7em;
  font-size: 1.3em;
  letter-spacing: 0.6px;
}

.links {
  text-decoration: none;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

.links:hover {
  font-family: 'capitalist';
}
