


.title-text{
  font-family: 'capitalist';
}


.title-text:hover{
  cursor: pointer;
}

p {
  text-align: center;
  font-family: 'cardo';
}

a {
  text-decoration: none;
  color: black;
  font-family: 'cardo';
}

a:hover {
  text-decoration: underline;
}
