.title-text{
  font-family: 'capitalist';
  font-size: 12vh;
}

.entered {
    width: 100%;
}

.links-container{

}

.title-container {
  text-align: left;
  width: 50%;
}

.title-text:hover{
  cursor: pointer;
}

p {
  text-align: center;
  font-family: 'cardo';
  line-height: 1.7em;
  font-size: 1.3em;
  letter-spacing: 0.6px;
}

.links {
  text-decoration: none;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

.links:hover {
  font-family: 'capitalist';
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .title-text{
    font-size: 5vh;
  }

  p {
    font-size: 1.2em;
  }
}
