.container{
  height: 600px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

form{
  text-align: center;
  font-family: 'cardo';
  font-size: 1.7em;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.next {
  padding: 1em;
  display: flex;
  justify-content: center;
  color: black;
}

.email {
  width: 50%;
}

a{
  text-decoration: none;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  margin-left: 12em;
  margin-right: 12em;
  font-size: .6em;
}
a:first-child {
  margin-left: 0em;
}

a:last-child {
  margin-right: 0em;
}

a:hover{
  color: darkgrey;
  cursor: pointer;
}

fieldset, input {
  text-align: center;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  font-size: .5em;
  line-height: 1.5em;
}

h2 {
  margin-bottom: 2%;
}

fieldset {
  width: 400px;
  margin: 1.5em auto;
  border-top: 1px solid rgba(112,128,144, 0.35);
  border-right: 0px;
  border-bottom: none;
  border-left: 0px;
  padding-top: 1.5em;
  padding-bottom: 1em;
  box-shadow: 0 4px 3px -3px rgba(112,128,144, 0.5);
}

ul {
  padding-left: 1.5em;
}

label {
  font-size: 1.5em;
  padding-left: 1em;
  line-height: 2em;
}

ul {
  list-style: none;
}

input {
  border: none;
  color: black;
  background: transparent;
  border-bottom: 1px dotted slategrey;
  width: 170px;
  margin-left: .25em;
  line-height: 1.8em;
}

.textarea {
  width: 98%;
}

input:focus {
  outline: none;
  border-color: grey;
  color: darkgrey;
}

::-webkit-input-placeholder {
   color: darkgrey;
}
:-moz-placeholder {
   color: darkgrey;
}
:-ms-input-placeholder {
   color: darkgrey;
}
:input-placeholder {
   color: darkgrey;
}

button {
  text-align: center;
  font-family: 'cardo';
  font-size: 1em;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: -9px;
}

button:hover {
  color: darkgrey;
}
